body{
	font-family: sans-serif;
  background: #f4f4f4;
}

fieldset{
  border: 1px solid #aaa;
  border-radius: 2px;
}

button, select{
  cursor: pointer;
}

.configuration{
	position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
	width: 300px;
  background: white;
  background: rgba(255,255,255,.8);
  box-shadow: 0 2px 4px #ccc;
}
.configuration div{
	margin: 0 0 20px;
}
#toggleGame {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 10px;
  padding: 15px 20px;
}

.dashboard{
	margin: 10px 0 0;
	display: block;
}
.dashboard.running{
	color: green;
}

.stage{
  position: relative;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px #ccc;
}

.projector{
  position: absolute;
  top: 0;
  left: 0;
}