body{
	font-family: sans-serif;
  background: #f4f4f4;
}

.configuration{
	position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
	width: 300px;
  background: white;
  background: rgba(255,255,255,.8);
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0,0,0,.3);
}
.configuration div{
	margin: 0 0 20px;
}

.dashboard{
	margin: 10px 0 0;
	display: block;
}
.dashboard.running{
	color: green;
}

.stage{
  position: relative;
  margin: 20px auto;
  background-color: #fafafa;
}

.projector{
  position: absolute;
  top: 0;
  left: 0;
}